@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@600&display=swap');

body,html{
    height: 100%;
    width:100%;
}

*{
    padding:0;
    margin:0;
}

.container{
    display: flex;
}

.sidebar{
    background-color: #5d5f5f;
    width:15vw;
    height:100vh;
}
.sidebar nav{
    padding:45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 24px;
    padding:33px 0;
}
.main-content{
    /* background-color: #dfddda; */
    width:85vw; 
}
.info-container{
    /* background-color: #c5c9c8; */
    margin: 130px auto;
    height:60vh;
    width:80vw;
    display: flex;
    justify-content: space-around;
}

.devpic img{
    width:380px;
    height:60vh;

}
.hello{
    font-size:61px;
}
.name{
    font-size: 45px;
    font-weight: bold;
}
.about{
    font-size:30px;
    margin: 25px 0;
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Instrument Sans', sans-serif;
}
.buttons{
    margin:20px 0;
}
.buttons button{
    margin: 10px 10px;
    padding:15px;
    cursor: pointer;
    background-color: #0e12e6;
    border: 0 ;
    border-radius: 20px;
    font-weight: bold;
    color:white;
}

.buttons button:hover{
    background-color: white;
    border: 1px solid  #0e12e6;
    color: #0e12e6;
    margin: 10px 10px;
    padding:15px;
}

.sidebar nav li a{
    text-decoration: none;
    color:white;
}

.sidebar nav li a:hover{
    background-color: black;
    padding:5px;
    border:2px solid black;
}